{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4">Auditório Espaçoso em Inoã: Ideal para Eventos Produtivos</h2>
                <p class="lead">
                    Este auditório, localizado em Inoã, é o ambiente perfeito para realizar eventos e reuniões de forma eficaz e organizada.
                </p>
                <p>
                    Situado na encantadora cidade de Itapeba, nosso auditório oferece infraestrutura completa para a realização de diversos tipos de eventos. Com capacidade para acomodar confortavelmente um grande público, nosso espaço é equipado com tecnologia de ponta, incluindo sistemas de áudio e vídeo de alta qualidade, projeção de telas amplas e iluminação ajustável para garantir o sucesso do seu evento.
                </p>
                <p>
                    Além da infraestrutura física impecável, nosso auditório em Itapeba promove um ambiente propício para networking e troca de conhecimentos. Com espaços de networking dedicados, você terá a oportunidade de conectar-se com outros profissionais e especialistas da sua área, compartilhando ideias e fortalecendo suas conexões profissionais.
                </p>
                <p>
                    Nosso compromisso com a qualidade e o serviço ao cliente se reflete em nossa abordagem personalizada para cada evento. Desde conferências corporativas até palestras inspiradoras e workshops interativos, estamos aqui para garantir que seu evento seja memorável e impactante para todos os participantes.
                </p>
                <p>
                    Oferecemos flexibilidade nos horários de reserva e preços competitivos para atender às suas necessidades específicas. Nosso objetivo é proporcionar uma experiência superior em eventos em Itapeba, combinando conforto, funcionalidade e excelência em serviço.
                </p>
                <p class="text-center">
                    Entre em contato conosco hoje mesmo para agendar seu próximo evento em nosso auditório em Itapeba. Estamos ansiosos para ajudá-lo a realizar um evento de sucesso!
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
