{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4">Sala no Centro de Maricá</h2>
                <p class="lead">
                    Esta sala, localizada no centro de Maricá, é o ambiente perfeito para trabalhar com conforto e produtividade.
                </p>
                <p>
                    Localizado no coração de Maricá, nosso espaço oferece mesas espaçosas, cadeiras ergonômicas, computadores de última geração e um sofá relaxante - tudo o que você precisa para se sentir em casa enquanto trabalha. Nossa atmosfera aconchegante e tranquila é ideal para freelancers, empreendedores, startups e profissionais remotos que buscam um local inspirador para suas atividades.
                </p>
                <p>
                    Além do ambiente físico confortável, oferecemos um ambiente de trabalho colaborativo, onde você pode se conectar com outros membros da comunidade, compartilhar ideias e colaborar em projetos. Acreditamos que a troca de conhecimento e a colaboração são fundamentais para o sucesso de qualquer empreendimento, e nosso espaço é projetado para facilitar essas interações.
                </p>
                <p>
                    E o melhor de tudo, nossos preços são justos e acessíveis, para que você possa desfrutar de todas as comodidades da nossa sala sem comprometer o seu orçamento. Acreditamos que todos devem ter acesso a um ambiente de trabalho de qualidade, e estamos comprometidos em tornar isso uma realidade para todos os nossos membros.
                </p>
                <p>
                    Venha nos visitar e descubra por que a sala no Centro de Maricá é o local perfeito para você realizar suas atividades profissionais. Estamos ansiosos para recebê-lo em nosso espaço e ajudá-lo a alcançar seus objetivos com sucesso.
                </p>
                <p class="text-center">
                    Entre em contato conosco hoje mesmo e reserve seu lugar na sala no Centro de Maricá!
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
