{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto mt-10 bg-gray-100">
    <div class="flex justify-center">
        <div class="bg-white shadow-md rounded-lg p-8 w-full lg:w-2/3">
            <h2 class="text-center text-4xl font-bold text-sky-900 mb-6">Sobre SpaceTW</h2>
            <p class="text-lg text-gray-700 mb-6 leading-relaxed">
                Bem-vindo ao SpaceTW, seu espaço de trabalho colaborativo e inspirador.
            </p>
            <p class="text-gray-700 mb-6 leading-relaxed">
                Na SpaceTW, acreditamos que o ambiente de trabalho é mais do que apenas um local físico - é uma comunidade onde ideias se encontram, colaborações nascem e negócios prosperam. Fundada por empreendedores apaixonados por criar um espaço que vai além das paredes tradicionais de um escritório, a SpaceTW nasceu da crença de que o trabalho pode ser mais produtivo, criativo e gratificante quando compartilhado com outros.
            </p>
            <p class="text-gray-700 mb-6 leading-relaxed">
                Desde o início, nosso objetivo tem sido proporcionar um ambiente de trabalho dinâmico e inspirador, oferecendo espaços flexíveis, comodidades modernas e uma comunidade diversificada de profissionais talentosos. De escritórios privativos para startups a estações de trabalho compartilhadas para freelancers, nossa infraestrutura é projetada para atender às necessidades e aspirações de todos os nossos membros.
            </p>
            <p class="text-gray-700 mb-6 leading-relaxed">
                Na SpaceTW, acreditamos que a colaboração é a chave para o sucesso e que todos têm o potencial de alcançar grandes feitos quando cercados pela comunidade certa. Estamos empenhados em criar um ambiente onde a inovação floresça, as conexões sejam fortalecidas e os negócios prosperem.
            </p>
            <p class="text-gray-700 mb-6 leading-relaxed">
                Obrigado por escolher a SpaceTW como seu espaço de trabalho. Estamos ansiosos para ajudá-lo a alcançar seus objetivos profissionais e criar uma comunidade vibrante e colaborativa juntos.
            </p>
            <p class="text-center text-lg text-gray-800 font-semibold">
                Atenciosamente,<br>
                A Equipe SpaceTW
            </p>
        </div>
    </div>
</div>
{% endblock content %}
