{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto mt-10 bg-gray-100 p-6 rounded-lg shadow-lg border">
    <a href="{% url 'store' %}" class="text-sky-900 hover:underline font-bold">&#x2190; Veja outras salas</a>
    
    <div class="mt-6 flex justify-between items-center">
        <h2 class="text-2xl font-bold text-sky-900">Itens: <span class="text-sky-900">{{ order.get_cart_items }}</span></h2>
        <h2 class="text-2xl font-bold text-sky-900">Total: <span class="text-sky-900">R${{ order.get_cart_total|floatformat:2 }}</span></h2>
        {% if order.get_cart_items > 0 %}
        <a href="{% url 'checkout' %}" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-lg">
            Finalizar aluguel
        </a>
        {% endif %}
    </div>

    <div class="mt-8">
        <div class="grid grid-cols-5 gap-4 font-bold text-gray-700">
            <div class="col-span-2">Item</div>
            <div>Preço</div>
            <div>Remover</div>
            <div>Total</div>
        </div>
        <hr class="my-4">
        
        {% for item in items %}
        <div class="grid grid-cols-5 gap-4 items-center">
            <div class="col-span-2 flex items-center space-x-4">
                <img src="{{ item.product.imageURL }}" class="w-20 h-20 object-cover rounded-lg" alt="{{ item.product.name }}">
                <span class="text-gray-500 font-bold">{{ item.product.name }}</span>
            </div>
            <div class="text-sky-900 font-bold">R${{ item.product.price|floatformat:2 }}</div>
            <div>
                <button data-product="{{ item.product.id }}" data-action="remove" class="chg-quantity update-cart">
                    <img src="{% static 'images/remove.svg' %}" alt="Remover" class="w-6 h-6">
                </button>
            </div>
            <div class="text-sky-900 font-bold">R${{ item.get_total|floatformat:2 }}</div>
        </div>
        <hr class="my-4">
        {% endfor %}
    </div>
</div>
{% endblock content %}
