{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto mt-10 bg-gray-100 p-8 rounded-lg shadow-xl border border-gray-300">
    <a href="{% url 'store' %}" class="text-sky-900 hover:underline font-bold">&#x2190; Continue Explorando</a>

    <div class="mt-8 text-center text-2xl font-extrabold text-sky-900 text-3xl uppercase">Meu Carrinho</div>
    
    <div class="mt-6 grid grid-cols-5 gap-6 font-semibold text-gray-700 bg-gray-200 p-4 rounded-lg">
        <div class="col-span-2 text-center font-bold">Item</div>
        <div class="text-center font-bold">Preço</div>
        <div class="text-center font-bold">Remover</div>
        <div class="text-center font-bold">Subtotal</div>
    </div>

    {% for item in items %}
    <div class="grid grid-cols-5 gap-6 items-center py-4 border-b border-gray-200">
        <div class="col-span-2 flex items-center space-x-4 px-4">
            <img src="{{ item.product.imageURL }}" class="w-24 h-24 object-cover rounded-lg shadow-md" alt="{{ item.product.name }}">
            <span class="text-gray-700 font-bold">{{ item.product.name }}</span>
        </div>
        <div class="text-sky-900 font-bold text-center">R${{ item.product.price|floatformat:2 }}</div>
        <div class="flex justify-center">
            <button data-product="{{ item.product.id }}" data-action="remove" class="chg-quantity update-cart hover:scale-110 transition transform duration-300">
                <img src="{% static 'images/remove.svg' %}" alt="Remover" class="w-6 h-6">
            </button>
        </div>
        <div class="text-sky-900 font-bold text-center">R${{ item.get_total|floatformat:2 }}</div>
    </div>
    {% endfor %}

    <div class="mt-6 flex justify-between items-center p-4 bg-gray-200 rounded-lg shadow-inner">
        <h2 class="text-xl font-bold text-gray-700">Total de Itens: <span class="text-sky-900">{{ order.get_cart_items }}</span></h2>
        <h2 class="text-xl font-bold text-gray-700">Total: <span class="text-sky-900">R${{ order.get_cart_total|floatformat:2 }}</span></h2>
        {% if order.get_cart_items > 0 %}
        <a href="{% url 'checkout' %}" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-6 rounded-lg transition duration-300 transform hover:scale-105 shadow-lg">
            Finalizar Compra
        </a>
        {% endif %}
    </div>
</div>
{% endblock content %}
