{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto mt-10 bg-gray-100 p-8 rounded-lg shadow-xl border border-gray-300">
    <a href="{% url 'cart' %}" class="text-sky-900 hover:underline font-bold">&#x2190; Voltar para o Carrinho</a>

    <div class="mt-8 text-center text-2xl font-extrabold text-sky-900 text-3xl uppercase">Checkout e pagamento</div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 mt-6">
        <!-- Formulário de Informações do Usuário e Pagamento -->
        <div id="form-wrapper" class="bg-white p-6 rounded-lg shadow-md border">
            <form id="form" class="space-y-4">
                <h2 class="text-xl font-bold text-gray-700 mb-4">Informações do Usuário</h2>
                <div class="form-field">
                    <input required class="form-control w-full p-2 border border-gray-300 rounded-lg" type="text" name="name" placeholder="Nome">
                </div>
                <div class="form-field">
                    <input required class="form-control w-full p-2 border border-gray-300 rounded-lg" type="email" name="email" placeholder="E-mail">
                </div>

                <h2 class="text-xl font-bold text-gray-700 mt-6 mb-4">Informações para Cobrança</h2>
                <div class="form-field">
                    <input required class="form-control w-full p-2 border border-gray-300 rounded-lg" type="text" name="address" placeholder="Endereço">
                </div>
                <div class="form-field">
                    <input required class="form-control w-full p-2 border border-gray-300 rounded-lg" type="text" name="city" placeholder="Cidade">
                </div>
                <div class="form-field">
                    <input required class="form-control w-full p-2 border border-gray-300 rounded-lg" type="text" name="state" placeholder="Estado">
                </div>
                <div class="form-field">
                    <input required class="form-control w-full p-2 border border-gray-300 rounded-lg" type="text" name="zipcode" placeholder="CEP">
                </div>
                <div class="form-field">
                    <label for="payment-method" class="text-gray-700">Selecionar método de pagamento:</label>
                    <select class="form-control w-full p-2 border border-gray-300 rounded-lg" id="payment-method" name="payment-method">
                        <option value="credit-card">Cartão de Crédito</option>
                        <option value="debit-card">Cartão de Débito</option>
                    </select>
                </div>
                <div class="form-field">
                    <input required class="form-control w-full p-2 border border-gray-300 rounded-lg" type="text" name="card-number" placeholder="Nº do Cartão">
                </div>
                <div class="form-field">
                    <input required class="form-control w-full p-2 border border-gray-300 rounded-lg" type="text" name="due-date" placeholder="Data de Vencimento">
                </div>
                <div class="form-field">
                    <input required class="form-control w-full p-2 border border-gray-300 rounded-lg" type="text" name="cvv" placeholder="CVV">
                </div>
                <div class="form-field">
                    <input required class="form-control w-full p-2 border border-gray-300 rounded-lg" type="text" name="cardholder-name" placeholder="Nome do Titular">
                </div>

                <button class="bg-yellow-500 hover:bg-yellow-600 w-full text-white font-bold py-2 px-4 rounded-lg transition duration-300 transform hover:scale-105 shadow-lg mt-6" type="button" id="finalizar-btn">
                    Finalizar Compra
                </button>
            </form>
        </div>

        <!-- Resumo do Pedido -->
        <div class="bg-white p-6 rounded-lg shadow-md border">
            <h3 class="text-center text-xl font-bold text-sky-900 mb-4">Resumo do Pedido</h3>
            <hr>
            {% for item in items %}
            <div class="flex items-center justify-between py-3 border-b border-gray-200">
                <img class="w-16 h-16 rounded-lg shadow-md" src="{{ item.product.imageURL }}" alt="{{ item.product.name }}">
                <div class="flex flex-col justify-center ml-4">
                    <p class="text-gray-700 font-bold">{{ item.product.name }}</p>
                    <p class="text-gray-500">Quantidade: x{{ item.quantity }}</p>
                </div>
                <p class="text-sky-900 font-bold">R${{ item.product.price|floatformat:2 }}</p>
            </div>
            {% endfor %}
            <div class="mt-4 text-lg font-bold text-gray-700">
                <p>Itens: <span class="text-sky-900">{{ order.get_cart_items }}</span></p>
                <p>Total: <span class="text-sky-900">R${{ order.get_cart_total|floatformat:2 }}</span></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
