{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4">Aluguel concluído!</h2>
                <p class="lead text-center">Sua transação foi concluída com sucesso.</p>
                <p class="text-center">Agradecemos por escolher a SpaceTW! Seu suporte é fundamental para nós.</p>
            </div>
        </div>
    </div>
{% endblock content %}
