{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>SpaceTW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.svg' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var user = "{{ request.user }}";
        var csrftoken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'js/scrollShadow.js' %}"></script>
</head>

<body class="min-h-screen flex flex-col text-gray-300 font-sans bg-gray-100">
    <!--Fixar Ítens ao topo-->
    <div class="fixed top-0 left-0 w-full z-50 bg-gray-100">
        <!-- Navbar -->
        <nav class="bg-sky-950 text-white p-2 relative z-50">
            <div class="container mx-auto flex items-center justify-between flex-wrap">
                <!-- Logo -->
                <div class="flex items-center relative mt-5">
                    <a href="{% url 'store' %}">
                        <img src="{% static 'images/logo.svg' %}" class="w-20 -mb-14 drop-shadow-lg" alt="Logo">
                    </a>
                </div>
                <!-- Authentication and Cart -->
                <div class="flex items-center space-x-4 relative sm:flex hidden">
                    {% if request.user.is_authenticated %}
                    <p class="text-sm lg:text-base">Bem-vindo, <span class="text-yellow-500 font-bold">{{ request.user.username }}</span>!</p>
                    <div class="relative">
                        <button id="auth-menu-toggle" class="focus:outline-none">
                            <img src="{% static 'images/menu_icon.svg' %}" class="w-16 mt-2" alt="User Icon">
                        </button>
                        <!-- Menu sair -->
                        <div id="auth-menu"
                            class="absolute top-full right-0 w-48 bg-gray-100 text-black rounded-lg shadow-lg hidden">
                            <a href="{% url 'store_logout' %}" 
                                class="text-sky-800 font-bold block px-4 py-2 hover:bg-sky-950 hover:text-white hover:border border-b border-gray-200 rounded-t-lg">Sair</a>
                        </div>
                    </div>
                    {% else %}
                    <!-- Botão do Menu -->
                    <div class="relative">
                        <button id="auth-menu-toggle" class="focus:outline-none">
                            <img src="{% static 'images/menu_icon.svg' %}" class="w-16 mt-2" alt="User Icon">
                        </button>
                        <!-- Menu de Login e Registro -->
                        <div id="auth-menu"
                            class="absolute top-full right-0 w-48 bg-gray-100 text-black rounded-lg shadow-lg hidden">
                            <a href="{% url 'store_login' %}"
                                class="text-sky-800 font-bold block px-4 py-2 hover:bg-sky-950 hover:text-white hover:border border-b border-gray-200 rounded-t-lg">Login</a>
                            <a href="{% url 'register' %}"
                                class="text-sky-800 font-bold block px-4 py-2 hover:bg-sky-950 hover:text-white hover:border border-t border-gray-200 rounded-b-lg">Registrar</a>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Botão do Carrinho -->
                    <a href="{% url 'cart' %}" class="relative">
                        <img id="cart-icon" class="w-6 inline-block" src="{% static 'images/cart.png' %}" alt="Cart Icon">
                        {% if cartItems > 0 %}
                            <p id="cart-total" class="absolute -top-2 -right-2 w-5 h-5 bg-red-500 text-white rounded-full text-center">
                                {{ cartItems }}
                            </p>
                        {% endif %}
                    </a>                    
                </div>
                <!-- Menu mobile com ícones simplificados -->
                <div class="sm:hidden flex space-x-2">
                    <button id="auth-menu-toggle-mobile" class="focus:outline-none">
                        <img src="{% static 'images/menu_icon.svg' %}" class="w-6 h-6" alt="User Icon">
                    </button>
                    <a href="{% url 'cart' %}">
                        <img id="cart-icon-mobile" class="w-6 inline-block" src="{% static 'images/cart.png' %}"
                            alt="Cart Icon">
                    </a>
                </div>
            </div>
        </nav>
        <!-- Barra de Pesquisa -->
        <div class="flex-grow">
            <div class="container mx-auto mt-6">
                <div class="flex justify-center">
                    <form method="GET" action="{% url 'search_results' %}"
                        class="flex items-center bg-white rounded-full shadow-lg w-full sm:w-3/4 lg:w-1/2 border">
                        <input type="text" name="query" placeholder="O que você procura?"
                            class="w-full px-4 py-2 sm:py-4 text-black rounded-l-full focus:outline-none text-lg">
                        <button type="submit" class="bg-sky-950 p-2 rounded-full mr-4">
                            <img src="{% static 'images/lupa.svg' %}" class="w-6 h-6" alt="Lupa">
                        </button>
                    </form>
                </div>
            </div>
            <!-- Ícones de Categoria Centralizados -->
            <div class="container mx-auto mt-6 w-full sm:w-3/4 lg:w-1/2">
                <div class="flex justify-evenly flex-wrap gap-4">
                    <a href="{% url 'shared_space' %}"
                        class="text-center hover:scale-125 transition duration-300 w-24 sm:w-36 mb-4">
                        <img src="{% static 'images/coworking.svg' %}" class="w-8 sm:w-9 mx-auto" alt="">
                        <h6 class="text-xs sm:text-sm text-gray-500 mt-2">Espaços<br>Compartilhados</h6>
                    </a>
                    <a href="{% url 'auditorium_spaces' %}"
                        class="text-center hover:scale-125 transition duration-300 w-24 sm:w-36 mb-4">
                        <img src="{% static 'images/cinema.svg' %}" class="w-8 sm:w-9 mx-auto" alt="">
                        <h6 class="text-xs sm:text-sm text-gray-500 mt-2">Auditórios</h6>
                    </a>
                    <a href="{% url 'office_spaces' %}"
                        class="text-center hover:scale-125 transition duration-300 w-24 sm:w-36 mb-4">
                        <img src="{% static 'images/trabalhador.svg' %}" class="w-8 sm:w-9 mx-auto" alt="">
                        <h6 class="text-xs sm:text-sm text-gray-500 mt-2">Escritórios</h6>
                    </a>
                    <a href="{% url 'store' %}"
                        class="text-center hover:scale-125 transition duration-300 w-24 sm:w-36 mb-4">
                        <img src="{% static 'images/promotion.svg' %}" class="w-8 sm:w-9 mx-auto" alt="">
                        <h6 class="text-xs sm:text-sm text-gray-500 mt-2">Ofertas</h6>
                    </a>
                    <a href="{% url 'about' %}"
                        class="text-center hover:scale-125 transition duration-300 w-24 sm:w-36 mb-4">
                        <img src="{% static 'images/about.svg' %}" class="w-8 sm:w-9 mx-auto" alt="">
                        <h6 class="text-xs sm:text-sm text-gray-500 mt-2">Sobre</h6>
                    </a>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'create_room' %}"
                        class="text-center hover:scale-125 transition duration-300 w-24 sm:w-36 mb-4">
                        <img src="{% static 'images/house-add.svg' %}" class="w-8 sm:w-9 mx-auto" alt="">
                        <h6 class="text-xs sm:text-sm text-gray-500 mt-2">Novo</h6>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!---Main Content-->
    <div class="container mx-auto my-8 mt-[18rem] px-4">
        {% block content %}
        {% endblock content %}
    </div>
    <footer class="bg-sky-950 text-white text-center p-4 mt-12">
        <h6 class="text-sm">&copy; 2024 SpaceTW. Todos os direitos reservados.</h6>
        <p class="text-white text-sm">
            <a href="{% url 'privacy_policy' %}" class="text-white underline">Política de Privacidade</a> |
            <a href="{% url 'terms_of_service' %}" class="text-white underline">Termos de Serviço</a>
        </p>
    </footer>
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/menuBar.js' %}"></script>
    <script src="{% static 'js/checkout.js' %}"></script>
</body>

</html>