{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="text-center" style="font-family: Arial, sans-serif;">Escritórios para Alugar</h1>
    <div class="row">
        {% for product in office_products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>

                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Alugar</button>
                
                <a class="btn btn-outline-success" href="{{product.link}}">Sobre</a>
                <h4 style="display: inline-block; float: right;"><strong>R${{product.price}}/h</strong></h4>
                <p><span class="badge">{{product.space_type}}</span></p>

                {% if product.on_sale %}
                <p><span class="badge badge-danger">Oferta</span></p> <!-- Indicação visual de que está em oferta -->
                {% endif %}

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
